@mixin flexCenter($height, $direction) {
  height: max-content;
  min-height: $height;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin mq($size) {
  @media (min) {
  }
}
