@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");
.navbar {
  background-color: #c491f7;
  z-index: 100;
  @media (min-width: 901px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    //   padding-left: 0;
    //   margin-bottom: 0;
    list-style: none;
    min-height: 100vh;
    width: 15em;

    position: fixed;
    align-items: center;
    justify-content: center;

    ul {
      font-family: "Poppins", sans-serif;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 30px;
      list-style: none;

      li {
        position: relative;

        span {
          cursor: pointer;
          position: relative;
          font-size: 1.5em;
          text-decoration: none;
          line-height: 1em;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: transparent;
          -webkit-text-stroke: 1px white;

          &::before {
            content: attr(data-text);
            position: absolute;
            color: var(--clr);
            width: 0%;
            overflow: hidden;
            transition: 1s;
            border-right: 6px solid var(--clr);
            -webkit-text-stroke: 1px var(--clr);
          }

          &:hover::before {
            width: 100%;
            filter: drop-shadow(0 0 25px var(--clr));
          }
        }
      }
    }

    .hamburger {
      display: none;
    }
    .burger-content {
      display: none;
    }
    .portfolio-name {
      display: none;
    }
  }

  @media (max-width: 900px) {
    ul {
      display: none;
    }

    position: fixed;
    width: 100vw;
    min-height: 4em;

    .portfolio-name {
      font-size: 2em;
      font-weight: bold;
      margin: 0.25em;
      margin-left: 0.4em;
      float: left;
    }

    .hamburger {
      display: flex;
      justify-items: center;
      font-size: 2em;
      margin: 0.25em;
      padding: 0.25em;
      float: right;

      &:hover &:focus {
        border: 2px solid #ddd;
      }
    }

    .burger-content {
      display: flex;
      flex-direction: column;
      margin-top: 4em;
      position: absolute;

      background-color: #c491f7;
      width: 100vw;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 100;

      ol {
      font-family: "Poppins", sans-serif;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      list-style: none;

      li {
        position: relative;

        span {
          cursor: pointer;
          position: relative;
          font-size: 1.5em;
          text-decoration: none;
          line-height: 1em;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: transparent;
          -webkit-text-stroke: 1px white;

          &::before {
            content: attr(data-text);
            position: absolute;
            color: var(--clr);
            width: 0%;
            overflow: hidden;
            transition: 1s;
            border-right: 6px solid var(--clr);
            -webkit-text-stroke: 1px var(--clr);
          }

          &:hover::before {
            width: 100%;
            filter: drop-shadow(0 0 25px var(--clr));
          }
        }
      }
    }

      // li {
      //   list-style-type: none;
      //   font-size: 1.5em;
      //   padding: 10px 0;
      // }

      &.true {
        @include animate(fadeIn, 0.5s, linear, 1);

        @include keyframes(fadeIn) {
          from {
            top: -100px;
            opacity: 0;
          }
          to {
            top: 0;
            opacity: 1;
          }
        }
      }

      &.false {
        @include animate(fadeOut, 0.5s, linear, 1);

        @include keyframes(fadeOut) {
          from {
            top: 0;
            opacity: 1;
          }
          to {
            top: -100px;
            opacity: 0;
          }
        }
      }
    }
  }
}
