@import "./variables";
@import "./mixins";
@import "./navbar";
@import "./modal";
@import "./skills";

// body {
//   overscroll-behavior-y: none;
//   max-width: 100%;
// }
// html,
// body {
//   width: 100%;
//   height: 100%;
// // }
// body {
//   // position: fixed;
//   overflow: hidden;
// }
.App {
  text-align: center;
  // min-height: 100vh;
  // background-color: red;
}

// .details {
//   // if width is more than 900px
//   @media (min-width: 901px) {
//     @include flexCenter(column);
//     margin-left: 15em;
//     .heading {
//       color: green;
//     }
//   }

//   // if width is less than 900px
//   @media (max-width: 900px) {
//     @include flexCenter(row);
//     .heading {
//       justify-content: end;
//       color: red;
//     }
//   }
// }

.content-page {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;

  // This prevents text from overflowing y
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  @media (min-width: 901px) {
    .heading {
      display: flex;
      margin-left: 7.8em;
    }
    .details {
      @include flexCenter(100vh, column);
      font-size: 50px;

      flex-wrap: wrap;
      margin-left: 5.2em;

      @include icons(120px, 126px);
    }
  }

  @media (max-width: 900px) {
    // max-width: 75vw;
    .heading {
      display: flex;
      margin-top: 1em;
      margin-left: 0.25em;
    }

    #About-Heading {
      margin-top: 2.5em;
    }

    .details {
      // @include flexCenter(50vh, column);
      // flex-wrap: wrap;
      height: max-content;
      margin: 0 15px;
      min-height: 40vh;
      font-size: 1.25em;
      @include icons(60px, 63px);
    }
  }
}

#portfolio {
  @media (max-width: 900px) {
    margin: 0 auto;
    .project-container {
      margin: 10px 25px;
    }
  }

  @media (min-width: 901px) {
    // margin: 0 auto;
    left: 130px;
  }
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1fr auto;
  text-align: center;
  width: max-content;
  height: max-content;

  .project-container {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    
    img {
      cursor: pointer;
      max-height: 25vmin;
      box-shadow: 2px 2px 2px 2px black;
      // max-width: 20vw;
      margin: 10px;
      border-radius: 0.75em;
      
      &:hover {
        box-shadow: 2px 2px 3px 3px black;
      }
    }


    h2 {
      font-size: .5em;
      position: relative;
      &::before {
        position: absolute;
        pointer-events: none;
        content: "";
        top: 0 ;
        left: 0;
        width: 100%;
        height: 8em;
        border-radius: 70px;
        background-color: #F6F792;
        transform: perspective(1em) rotateX(40deg) scale(1, 0.25);
        filter: blur(1.5em);
        opacity: 0;
      }

    }
    
    &:hover h2::before {
      opacity: 1;
      transition: opacity 300ms linear;
    }
  }
}

#About {
  @media (max-width: 900px) {
    // margin-top: 4em;
  }
}
