@import "./variables";
@import "./mixins";
@import "./navbar";

body {
  overscroll-behavior-y: none;
  max-width: 100%;
}

// html,
// body {
//   width: 100%;
//   height: 100%;
// // }
// body {
//   // position: fixed;
//   overflow: hidden;
// }

.App {
  // text-align: center;
  // min-height: 100vh;
  // background-color: red;
}

// .details {
//   // if width is more than 900px
//   @media (min-width: 901px) {
//     @include flexCenter(column);
//     margin-left: 15em;
//     .heading {
//       color: green;
//     }
//   }

//   // if width is less than 900px
//   @media (max-width: 900px) {
//     @include flexCenter(row);
//     .heading {
//       justify-content: end;
//       color: red;
//     }
//   }
// }

.content-page {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;

  // This prevents text from overflowing y
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  @media (min-width: 901px) {
    .heading {
      display: flex;
      margin-left: 7.8em;
    }
    .details {
      @include flexCenter(100vh, column);
      font-size: 50px;

      // overflow: hidden;
      // width: 100%;
      // column-width: 150px;
      flex-wrap: wrap;
      margin-left: 6em;
      // h1 {
      //   max-width: 2px;
      // }
      // // overflow-y: scroll;
    }
  }

  @media (max-width: 900px) {
    // max-width: 75vw;
    .heading {
      display: flex;
      margin-top: 1em;
    }

    #About-Heading {
      margin-top: 2.5em;
    }

    .details {
      @include flexCenter(50vh, column);
    }
  }
}

#About {
  @media (max-width: 900px) {
    // margin-top: 4em;
  }
}
